.book {
  position: relative;
  border-radius: 10px;
  width: 200px;
  height: 220px;
  background-color: whitesmoke;
  border: 2px solid rgb(163, 184, 205);
  box-shadow: 1px 1px 12px #1369f3;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #42a5f5, #66bb6a); /* Blue to Green Gradient */
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-80deg);
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: 20px auto;
  margin-top: -100px;
  max-width: 1200px;
}

.card {
  flex: 1 1 calc(33.33% - 20px);
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.header-text {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #ecdbdb;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(227, 225, 225, 0.1);
  width: fit-content;
}
